.productsAutro{
    display: flex;
    width: 100vw;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;   
}

.productAutroImg{
    height: 770px;
    width: 100%;
    object-fit:cover;
}

.autroTitleUp{
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 400;
    color: #CD0056;
}

.autroTitle{
    font-size: 25px;
    width: 40%;
    margin: 10px 0px;
    font-weight: 400;
    color: #CD0056;
}

@media (max-width:450px) {
    .productsAutro{
        display: flex;
        width: 100vw;
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;   
    }

    .productAutroImg{
        height: 350px;
        width: 100%;
        object-fit:cover;
    }

    .autroTitleUp{
        font-size: 15px;
        margin: 10px 0px;
        font-weight: 400;
        color: #CD0056;
    }

    .autroTitle{
        font-size: 15px;
        width: 95%;
        margin: 10px 0px;
        font-weight: 400;
        color: #CD0056;
    }
}